body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:756px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1164_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'BanglaMN-Bold', 'Bangla MN Bold', 'Bangla MN';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u1164 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:14px;
  width:162px;
  height:48px;
  font-family:'BanglaMN-Bold', 'Bangla MN Bold', 'Bangla MN';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u1164_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  word-wrap:break-word;
}
#u1165 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:80px;
  width:741px;
  height:1030px;
}
#u1166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:30px;
}
#u1166 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:30px;
}
#u1166_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:50px;
  word-wrap:break-word;
}
#u1167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u1167 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:0px;
  width:200px;
  height:30px;
}
#u1167_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  word-wrap:break-word;
}
#u1168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1168 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:0px;
  width:100px;
  height:30px;
}
#u1168_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u1169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u1169 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:0px;
  width:50px;
  height:30px;
}
#u1169_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  word-wrap:break-word;
}
#u1170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u1170 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:0px;
  width:94px;
  height:30px;
}
#u1170_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u1171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1171 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:0px;
  width:100px;
  height:30px;
}
#u1171_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u1172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u1172 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:0px;
  width:50px;
  height:30px;
}
#u1172_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  word-wrap:break-word;
}
#u1173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u1173 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:0px;
  width:93px;
  height:30px;
}
#u1173_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:89px;
  word-wrap:break-word;
}
#u1174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:200px;
}
#u1174 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:54px;
  height:200px;
}
#u1174_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:50px;
  word-wrap:break-word;
}
#u1175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u1175 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:30px;
  width:200px;
  height:200px;
}
#u1175_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1176_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:200px;
}
#u1176 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:30px;
  width:100px;
  height:200px;
}
#u1176_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:96px;
  word-wrap:break-word;
}
#u1177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:200px;
}
#u1177 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:30px;
  width:50px;
  height:200px;
}
#u1177_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:46px;
  word-wrap:break-word;
}
#u1178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:200px;
}
#u1178 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:30px;
  width:94px;
  height:200px;
}
#u1178_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:62px;
  width:90px;
  word-wrap:break-word;
}
#u1179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:200px;
}
#u1179 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:30px;
  width:100px;
  height:200px;
}
#u1179_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:96px;
  word-wrap:break-word;
}
#u1180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:200px;
}
#u1180 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:30px;
  width:50px;
  height:200px;
}
#u1180_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:46px;
  word-wrap:break-word;
}
#u1181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:200px;
}
#u1181 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:30px;
  width:93px;
  height:200px;
}
#u1181_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:200px;
}
#u1182 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:230px;
  width:54px;
  height:200px;
}
#u1182_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:50px;
  word-wrap:break-word;
}
#u1183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u1183 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:230px;
  width:200px;
  height:200px;
}
#u1183_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:200px;
}
#u1184 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:230px;
  width:100px;
  height:200px;
}
#u1184_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:96px;
  word-wrap:break-word;
}
#u1185_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:200px;
}
#u1185 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:230px;
  width:50px;
  height:200px;
}
#u1185_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:46px;
  word-wrap:break-word;
}
#u1186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:200px;
}
#u1186 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:230px;
  width:94px;
  height:200px;
}
#u1186_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:90px;
  word-wrap:break-word;
}
#u1187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:200px;
}
#u1187 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:230px;
  width:100px;
  height:200px;
}
#u1187_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:96px;
  word-wrap:break-word;
}
#u1188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:200px;
}
#u1188 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:230px;
  width:50px;
  height:200px;
}
#u1188_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:46px;
  word-wrap:break-word;
}
#u1189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:200px;
}
#u1189 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:230px;
  width:93px;
  height:200px;
}
#u1189_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:200px;
}
#u1190 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:430px;
  width:54px;
  height:200px;
}
#u1190_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:50px;
  word-wrap:break-word;
}
#u1191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u1191 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:430px;
  width:200px;
  height:200px;
}
#u1191_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:200px;
}
#u1192 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:430px;
  width:100px;
  height:200px;
}
#u1192_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:96px;
  word-wrap:break-word;
}
#u1193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:200px;
}
#u1193 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:430px;
  width:50px;
  height:200px;
}
#u1193_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:46px;
  word-wrap:break-word;
}
#u1194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:200px;
}
#u1194 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:430px;
  width:94px;
  height:200px;
}
#u1194_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:62px;
  width:90px;
  word-wrap:break-word;
}
#u1195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:200px;
}
#u1195 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:430px;
  width:100px;
  height:200px;
}
#u1195_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:96px;
  word-wrap:break-word;
}
#u1196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:200px;
}
#u1196 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:430px;
  width:50px;
  height:200px;
}
#u1196_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:46px;
  word-wrap:break-word;
}
#u1197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:200px;
}
#u1197 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:430px;
  width:93px;
  height:200px;
}
#u1197_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:200px;
}
#u1198 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:630px;
  width:54px;
  height:200px;
}
#u1198_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:50px;
  word-wrap:break-word;
}
#u1199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u1199 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:630px;
  width:200px;
  height:200px;
}
#u1199_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:200px;
}
#u1200 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:630px;
  width:100px;
  height:200px;
}
#u1200_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:96px;
  word-wrap:break-word;
}
#u1201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:200px;
}
#u1201 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:630px;
  width:50px;
  height:200px;
}
#u1201_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:46px;
  word-wrap:break-word;
}
#u1202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:200px;
}
#u1202 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:630px;
  width:94px;
  height:200px;
}
#u1202_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:90px;
  word-wrap:break-word;
}
#u1203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:200px;
}
#u1203 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:630px;
  width:100px;
  height:200px;
}
#u1203_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:96px;
  word-wrap:break-word;
}
#u1204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:200px;
}
#u1204 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:630px;
  width:50px;
  height:200px;
}
#u1204_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:46px;
  word-wrap:break-word;
}
#u1205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:200px;
}
#u1205 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:630px;
  width:93px;
  height:200px;
}
#u1205_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:200px;
}
#u1206 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:830px;
  width:54px;
  height:200px;
}
#u1206_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:50px;
  word-wrap:break-word;
}
#u1207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u1207 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:830px;
  width:200px;
  height:200px;
}
#u1207_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:200px;
}
#u1208 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:830px;
  width:100px;
  height:200px;
}
#u1208_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:96px;
  word-wrap:break-word;
}
#u1209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:200px;
}
#u1209 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:830px;
  width:50px;
  height:200px;
}
#u1209_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:46px;
  word-wrap:break-word;
}
#u1210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:200px;
}
#u1210 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:830px;
  width:94px;
  height:200px;
}
#u1210_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:90px;
  word-wrap:break-word;
}
#u1211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:200px;
}
#u1211 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:830px;
  width:100px;
  height:200px;
}
#u1211_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:96px;
  word-wrap:break-word;
}
#u1212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:200px;
}
#u1212 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:830px;
  width:50px;
  height:200px;
}
#u1212_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:46px;
  word-wrap:break-word;
}
#u1213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:200px;
}
#u1213 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:830px;
  width:93px;
  height:200px;
}
#u1213_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u1214 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:139px;
  width:150px;
  height:150px;
}
#u1214_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1215 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:207px;
  width:15px;
  height:15px;
}
#u1215_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u1216_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1216 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:207px;
  width:15px;
  height:15px;
}
#u1216_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u1217 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:202px;
  width:35px;
  height:25px;
}
#u1217_input {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:25px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u1218 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:339px;
  width:150px;
  height:150px;
}
#u1218_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1219_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1219 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:407px;
  width:15px;
  height:15px;
}
#u1219_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u1220_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1220 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:407px;
  width:15px;
  height:15px;
}
#u1220_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u1221 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:402px;
  width:35px;
  height:25px;
}
#u1221_input {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:25px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:150px;
}
#u1222 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:540px;
  width:100px;
  height:150px;
}
#u1222_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1223_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1223 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:607px;
  width:15px;
  height:15px;
}
#u1223_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u1224_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1224 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:607px;
  width:15px;
  height:15px;
}
#u1224_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u1225 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:602px;
  width:35px;
  height:25px;
}
#u1225_input {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:25px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u1226 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:731px;
  width:150px;
  height:150px;
}
#u1226_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1227_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1227 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:798px;
  width:15px;
  height:15px;
}
#u1227_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u1228_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1228 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:798px;
  width:15px;
  height:15px;
}
#u1228_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u1229 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:793px;
  width:35px;
  height:25px;
}
#u1229_input {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:25px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u1230 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:938px;
  width:150px;
  height:150px;
}
#u1230_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1231_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1231 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:1006px;
  width:15px;
  height:15px;
}
#u1231_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u1232_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1232 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:1006px;
  width:15px;
  height:15px;
}
#u1232_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u1233 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:1001px;
  width:35px;
  height:25px;
}
#u1233_input {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:25px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1234_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u1234 {
  border-width:0px;
  position:absolute;
  left:632px;
  top:48px;
  width:124px;
  height:22px;
  font-size:16px;
  color:#000000;
}
#u1234_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:120px;
  white-space:nowrap;
}
