body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:762px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1235_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'BanglaMN-Bold', 'Bangla MN Bold', 'Bangla MN';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u1235 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:17px;
  width:180px;
  height:48px;
  font-family:'BanglaMN-Bold', 'Bangla MN Bold', 'Bangla MN';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u1235_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u1236 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:83px;
  width:762px;
  height:1030px;
}
#u1237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:30px;
}
#u1237 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:30px;
}
#u1237_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:50px;
  word-wrap:break-word;
}
#u1238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u1238 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:0px;
  width:200px;
  height:30px;
}
#u1238_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  word-wrap:break-word;
}
#u1239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1239 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:0px;
  width:100px;
  height:30px;
}
#u1239_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u1240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u1240 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:0px;
  width:176px;
  height:30px;
}
#u1240_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:172px;
  word-wrap:break-word;
}
#u1241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u1241 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:0px;
  width:86px;
  height:30px;
}
#u1241_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:82px;
  word-wrap:break-word;
}
#u1242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:30px;
}
#u1242 {
  border-width:0px;
  position:absolute;
  left:616px;
  top:0px;
  width:48px;
  height:30px;
}
#u1242_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:44px;
  word-wrap:break-word;
}
#u1243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u1243 {
  border-width:0px;
  position:absolute;
  left:664px;
  top:0px;
  width:98px;
  height:30px;
}
#u1243_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:94px;
  word-wrap:break-word;
}
#u1244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:200px;
}
#u1244 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:54px;
  height:200px;
}
#u1244_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:50px;
  word-wrap:break-word;
}
#u1245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u1245 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:30px;
  width:200px;
  height:200px;
}
#u1245_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:200px;
}
#u1246 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:30px;
  width:100px;
  height:200px;
}
#u1246_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:96px;
  word-wrap:break-word;
}
#u1247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:200px;
}
#u1247 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:30px;
  width:176px;
  height:200px;
}
#u1247_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:84px;
  width:172px;
  word-wrap:break-word;
}
#u1248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:200px;
}
#u1248 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:30px;
  width:86px;
  height:200px;
}
#u1248_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:82px;
  word-wrap:break-word;
}
#u1249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:200px;
}
#u1249 {
  border-width:0px;
  position:absolute;
  left:616px;
  top:30px;
  width:48px;
  height:200px;
}
#u1249_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:44px;
  word-wrap:break-word;
}
#u1250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:200px;
}
#u1250 {
  border-width:0px;
  position:absolute;
  left:664px;
  top:30px;
  width:98px;
  height:200px;
}
#u1250_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:200px;
}
#u1251 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:230px;
  width:54px;
  height:200px;
}
#u1251_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:50px;
  word-wrap:break-word;
}
#u1252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u1252 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:230px;
  width:200px;
  height:200px;
}
#u1252_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:200px;
}
#u1253 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:230px;
  width:100px;
  height:200px;
}
#u1253_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:96px;
  word-wrap:break-word;
}
#u1254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:200px;
}
#u1254 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:230px;
  width:176px;
  height:200px;
}
#u1254_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:172px;
  word-wrap:break-word;
}
#u1255_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:200px;
}
#u1255 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:230px;
  width:86px;
  height:200px;
}
#u1255_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:82px;
  word-wrap:break-word;
}
#u1256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:200px;
}
#u1256 {
  border-width:0px;
  position:absolute;
  left:616px;
  top:230px;
  width:48px;
  height:200px;
}
#u1256_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:44px;
  word-wrap:break-word;
}
#u1257_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:200px;
}
#u1257 {
  border-width:0px;
  position:absolute;
  left:664px;
  top:230px;
  width:98px;
  height:200px;
}
#u1257_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:200px;
}
#u1258 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:430px;
  width:54px;
  height:200px;
}
#u1258_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:50px;
  word-wrap:break-word;
}
#u1259_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u1259 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:430px;
  width:200px;
  height:200px;
}
#u1259_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:200px;
}
#u1260 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:430px;
  width:100px;
  height:200px;
}
#u1260_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:96px;
  word-wrap:break-word;
}
#u1261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:200px;
}
#u1261 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:430px;
  width:176px;
  height:200px;
}
#u1261_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:172px;
  word-wrap:break-word;
}
#u1262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:200px;
}
#u1262 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:430px;
  width:86px;
  height:200px;
}
#u1262_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:82px;
  word-wrap:break-word;
}
#u1263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:200px;
}
#u1263 {
  border-width:0px;
  position:absolute;
  left:616px;
  top:430px;
  width:48px;
  height:200px;
}
#u1263_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:44px;
  word-wrap:break-word;
}
#u1264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:200px;
}
#u1264 {
  border-width:0px;
  position:absolute;
  left:664px;
  top:430px;
  width:98px;
  height:200px;
}
#u1264_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1265_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:200px;
}
#u1265 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:630px;
  width:54px;
  height:200px;
}
#u1265_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:50px;
  word-wrap:break-word;
}
#u1266_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u1266 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:630px;
  width:200px;
  height:200px;
}
#u1266_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:200px;
}
#u1267 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:630px;
  width:100px;
  height:200px;
}
#u1267_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:96px;
  word-wrap:break-word;
}
#u1268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:200px;
}
#u1268 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:630px;
  width:176px;
  height:200px;
}
#u1268_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:172px;
  word-wrap:break-word;
}
#u1269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:200px;
}
#u1269 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:630px;
  width:86px;
  height:200px;
}
#u1269_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:82px;
  word-wrap:break-word;
}
#u1270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:200px;
}
#u1270 {
  border-width:0px;
  position:absolute;
  left:616px;
  top:630px;
  width:48px;
  height:200px;
}
#u1270_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:44px;
  word-wrap:break-word;
}
#u1271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:200px;
}
#u1271 {
  border-width:0px;
  position:absolute;
  left:664px;
  top:630px;
  width:98px;
  height:200px;
}
#u1271_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1272_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:200px;
}
#u1272 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:830px;
  width:54px;
  height:200px;
}
#u1272_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:50px;
  word-wrap:break-word;
}
#u1273_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u1273 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:830px;
  width:200px;
  height:200px;
}
#u1273_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1274_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:200px;
}
#u1274 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:830px;
  width:100px;
  height:200px;
}
#u1274_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:96px;
  word-wrap:break-word;
}
#u1275_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:200px;
}
#u1275 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:830px;
  width:176px;
  height:200px;
}
#u1275_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:172px;
  word-wrap:break-word;
}
#u1276_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:200px;
}
#u1276 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:830px;
  width:86px;
  height:200px;
}
#u1276_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:82px;
  word-wrap:break-word;
}
#u1277_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:200px;
}
#u1277 {
  border-width:0px;
  position:absolute;
  left:616px;
  top:830px;
  width:48px;
  height:200px;
}
#u1277_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:44px;
  word-wrap:break-word;
}
#u1278_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:200px;
}
#u1278 {
  border-width:0px;
  position:absolute;
  left:664px;
  top:830px;
  width:98px;
  height:200px;
}
#u1278_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1279_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u1279 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:143px;
  width:150px;
  height:150px;
}
#u1279_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1280_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1280 {
  border-width:0px;
  position:absolute;
  left:676px;
  top:210px;
  width:15px;
  height:15px;
}
#u1280_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u1281_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1281 {
  border-width:0px;
  position:absolute;
  left:736px;
  top:210px;
  width:15px;
  height:15px;
}
#u1281_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u1282 {
  border-width:0px;
  position:absolute;
  left:696px;
  top:205px;
  width:35px;
  height:25px;
}
#u1282_input {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:25px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1283_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u1283 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:343px;
  width:150px;
  height:150px;
}
#u1283_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1284_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1284 {
  border-width:0px;
  position:absolute;
  left:676px;
  top:410px;
  width:15px;
  height:15px;
}
#u1284_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u1285_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1285 {
  border-width:0px;
  position:absolute;
  left:736px;
  top:410px;
  width:15px;
  height:15px;
}
#u1285_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u1286 {
  border-width:0px;
  position:absolute;
  left:696px;
  top:405px;
  width:35px;
  height:25px;
}
#u1286_input {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:25px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1287_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u1287 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:543px;
  width:150px;
  height:150px;
}
#u1287_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1288_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1288 {
  border-width:0px;
  position:absolute;
  left:676px;
  top:610px;
  width:15px;
  height:15px;
}
#u1288_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u1289_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1289 {
  border-width:0px;
  position:absolute;
  left:736px;
  top:610px;
  width:15px;
  height:15px;
}
#u1289_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u1290 {
  border-width:0px;
  position:absolute;
  left:696px;
  top:605px;
  width:35px;
  height:25px;
}
#u1290_input {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:25px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1291_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u1291 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:740px;
  width:150px;
  height:150px;
}
#u1291_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1292_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1292 {
  border-width:0px;
  position:absolute;
  left:676px;
  top:801px;
  width:15px;
  height:15px;
}
#u1292_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u1293_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1293 {
  border-width:0px;
  position:absolute;
  left:736px;
  top:801px;
  width:15px;
  height:15px;
}
#u1293_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u1294 {
  border-width:0px;
  position:absolute;
  left:696px;
  top:796px;
  width:35px;
  height:25px;
}
#u1294_input {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:25px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1295_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u1295 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:942px;
  width:150px;
  height:150px;
}
#u1295_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1296_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1296 {
  border-width:0px;
  position:absolute;
  left:676px;
  top:1009px;
  width:15px;
  height:15px;
}
#u1296_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u1297_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1297 {
  border-width:0px;
  position:absolute;
  left:736px;
  top:1009px;
  width:15px;
  height:15px;
}
#u1297_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u1298 {
  border-width:0px;
  position:absolute;
  left:696px;
  top:1004px;
  width:35px;
  height:25px;
}
#u1298_input {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:25px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1299_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u1299 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:51px;
  width:124px;
  height:22px;
  font-size:16px;
  color:#000000;
}
#u1299_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:120px;
  white-space:nowrap;
}
